@page
@model PTJuanNavarro.Models.TipoCuentaViewModel

<h2>Tipo de usuario</h2>

<div>
    <a href="/Cuenta/LoginCliente" class="btn btn-primary">Ingresar como Cliente</a>
    <a href="/Cuenta/LoginAdmin" class="btn btn-secondary">Ingresar como Administrador</a>
</div>
