<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PF_Eq11_Matricula.My.MySettings.RegistroUTPConnectionString"
            connectionString="Data Source=LAPTOP-TFIRVU2N\SQLEXPRESS;Initial Catalog=RegistroUTP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>